* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: rgb(59, 9, 106);
}

.container {
  width: 90%;
  max-width: 550px;
  margin: 100px auto;
}

.container h1 {
  color: white;
}
.pw-box {
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pw-box input {
  width: 90%;
  height: 100%;
  padding: 30px 10px;
  font-size: 30px;
  font-weight: 600;
  border: none;
  outline: none;
}

.pw-box i {
  font-size: 40px;
  cursor: pointer;
  margin-left: 10px;
  color: rgb(59, 9, 106);
}

button {
  margin-top: 20px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-weight: 600;
  font-size: 20px;
  border-radius: 10px;
  background-color: greenyellow;
  cursor: pointer;
}

button img {
  height: 25px;
  width: 25px;
}
